body {
    background-image: url("background.png");
    background-color: #ffffff;
}

.counselor-form {
    margin-top: 70px;
    font-weight: bold;
    border-radius: 5px;
    padding: 25px;
}

.counselor-table {
    margin-top: 70px;
    border: black;
}

.counselor-box {
    width: 1000px !important;
    margin-top: 70px;
    border-radius: 5px;
    padding: 25px;
}

a.nav-link {
    color: #ffffff !important;
}