.counselor-form {
    margin-top: 70px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 25px;
}

.counselor-table {
    margin-top: 70px;
}
.navbar-light .navbar-nav .nav-link {
    
    font-weight: bold;
    color: #332f2f;
    text-shadow: 0 0 black;
}