.counselor-form {
    margin-top: 70px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 25px;
}

.counselor-table {
    margin-top: 70px;
}

.counselor-box {
    margin-top: 70px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 25px;
}

a.nav-link {
    color: #ffffff !important;
}

/*.navbar-dark .navbar-nav .nav-link {*/
/*    font-weight: bold;*/
/*    color: #a0a3a5;*/
/*    text-shadow: 0 0 black;*/
/*}*/

/*.nav-link {*/
/*    color: #a0a3a5;*/
/*}*/